<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백엔드 낫마스 2</title>
</head>
<body>
    <h1>ㅎㅇㅇ 여기에 js 적으면 됨 편함</h1>
    <h2><%= num %></h2>
</body>
</html>
