<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB없이 일회용 댓글창 만들기</title>
</head>
<body>
    <h1>댓글 목록</h1>
    <% for ( comment of comments) { %>
        <ul style="list-style-type:circle;">
        <li> <%="댓글" %> : <%= comment %></li> 
        </ul>
    <% } %>
        <hr>
    <form action="/create" method="post">
        <input type="text" id="lname" name="content"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>
